{% extends 'base.html' %}

{% block content %}
    <div class="home">
        <div class="home-title">
            <h1>Welcome to My First App!</h1>
        </div>
        <div class="home-form">
            <form method="POST">
                <div class="home-form-name">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name">
                </div>
                <br>
                <div class="home-form-text-area">
                    <label for="ta-input">Tell a fact about yourself:</label>
                    <br>
                    <textarea id="ta-input" name="fact" rows="2"></textarea>
                </div>    
                <br>
                <div class="form-button">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <a href="{{url_for('feedback')}}" class="styled-btn-link">Leave Feedback!</a>
    </div>
{% endblock %}
