<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Task Lists</h1>
    <p style="text-align: center;">
        {% if 'username' in session.keys() %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </p>
    <div class="home">
        <div class="add-task-form">
            <h3>Hello {{ session.username if 'username' in session.keys() else 'Guest' }}</h3>
            <form action="{{ url_for('add_task_list') }}" method="POST">
                <p><label for="task_list" style="font-weight: bold; font-size: 18px;">Add Task List: </label></p>
                <p><input type="text" id="task_list" name="task_list" placeholder="Enter Task List Name"
                        style="padding: 5px; border-radius: 5px; border-width: 1px; border-color: antiquewhite;"></p>
                <button class="txt-btn hover-green" type="submit">Create List</button>
            </form>
            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="task-list">
        {% if task_lists %}
            <table>
                {% for task_list in task_lists %}
                <tr>
                    <td style="width: 20px; padding-left: 20px;">
                    <a href="{{ url_for('delete_task_list', list_name=task_list.name )}}">
                        <button class="delete-btn" type="button">&#x26D4;</button></a>
                    </td>
                    <td style="text-align: left;">
                    <a href="{{ url_for('task_list', list_name=task_list.name, task_filter='all') }}" style="color:rgb(85, 85, 85)">{{task_list.name}}</a>
                    </td>
                    {% if task_count[task_list.id].total_tasks == 0 %}
                        <td style="text-align: left; color:rgb(116, 175, 185)">
                    {% elif task_count[task_list.id].complete_tasks == task_count[task_list.id].total_tasks %}
                        <td style="text-align: left; color:rgb(131, 182, 156)">
                    {% else %}
                        <td style="text-align: left; color:rgb(214, 140, 161)">
                    {% endif %}

                    {% if task_count[task_list.id].total_tasks > 0 %}
                        {{ task_count[task_list.id].complete_tasks }} of {{ task_count[task_list.id].total_tasks }} Complete
                    {% else %}
                        No tasks!
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>&#x2196; Add a Task List!</h2>
        {% endif %}
        </div>
    </div>
</body>
</html>