<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Login</h1>
    {% if error %}
        <h2 style="text-align: center;"> {{ error }} </h2>
    {% endif %}
    <div class="login">
        <form action="{{ url_for('login') }}" method="POST">
            <p style="text-align: center;">
                <label id="username" for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Please Enter Username" 
                        style="padding: 5px; border-radius: 5px; border-width: 1px; border-color: antiquewhite;">
            </p>
            <p style="text-align: center;">
                <label id="password" for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Please Enter Password"
                        style="padding: 5px; border-radius: 5px; border-width: 1px; border-color: antiquewhite;">
            </p>
            <p style="text-align: center; padding-left: 24%;">
                <button class="txt-btn hover-green"type="submit">Login</button>
                <a href="{{ url_for('register_user') }}" style="text-align: right;">Create Account</a>
            </p>
            <p style="text-align: center;"><a href="{{ url_for('home') }}">Continue as Guest</a></p>
        </form>
    </div>
</body>
</html>